.cards-title {
    text-align: center;
    font-size: 50px;
    margin-top: 7%;
    margin-bottom: 5%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

@media only screen and (max-width: 600px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
}